:root {
  --color-white: #ffffff;
  --color-bg: #f4f5f4;
  --color-white-btn: #ffffff;
  --color-hover-white-btn: #e8f3f2;
  --color-text-white: #f1f1f1;
  --color-text-black: #080a0a;
  --color-text-muted: #08090acc;
  --color-primary: #0c8c5e;
  --color-secondry: #585858;
  --color-border: #eeeeee;
  --color-footer-border: #eaeaeb;
  --radius-3xl: 24px;
  --radius-2xl: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: url(/public/bg-light.svg) no-repeat center -100px / 100% auto;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  z-index: 50;
  backdrop-filter: blur(10px);
}

header nav {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 16px;
  gap: 48px;
}

.nav-left {
  display: flex;
  gap: 160px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 100px;
}

.nav-links {
  display: flex;
  list-style: none;
  align-items: center;
}

.nav-links li {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links li a {
  font-size: 15px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
  height: 32px;
  display: flex;
  align-items: center;
  padding: 4px 15px;
}

.nav-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.btn-contact,
.btn-start,
.btn-submit,
.btn-explore,
.get-started-btn {
  height: fit-content;
  cursor: pointer;
  border: none;
  border-radius: var(--radius-3xl);
}

.btn-contact {
  font-size: 15px;
  font-weight: 400;
  padding: 4px 12px;
  background-color: rgba(244, 244, 244, 0.104);
  color: var(--color-white);
}

.btn-contact:hover {
  background-color: rgba(244, 244, 244, 0.2);
}

.btn-start {
  font-size: 15px;
  font-weight: 400;
  padding: 4px 16px;
  background-color: var(--color-white-btn);
  color: var(--color-text-black);
}

.btn-start:hover {
  background-color: #e1e2e2;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}

.hero-badge {
  border-radius: 50px;
  padding: 4px;
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: #1818182e;
  width: fit-content;
  color: var(--color-white);
}

.hero-badge span {
  padding: 2px 8px;
  background-color: var(--color-primary);
  border-radius: 50px;
  margin: 1px;
  font-size: 12px;
  font-weight: 400;
}

.hero-badge-img {
  width: 18px;
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 0;
}

.read-arrow {
  width: 10px;
  vertical-align: middle;
  margin-left: 5px;
}

.hero-badge p {
  font-size: 14px;
  font-weight: 400;
  margin-right: 3px;
}

.hero h1 {
  width: 100%;
  max-width: 688px;
  font-size: 64px;
  text-align: center;
  color: var(--color-text-white);
  font-weight: 600;
  line-height: 1.15;
  margin-top: 50px;
}

.hero-subtitle {
  color: var(--color-text-white);
  margin-top: 24px;
  font-size: 18px;
  text-wrap: balance;
  line-height: 24px;
  max-width: 472px;
  margin-inline: auto;
  width: 100%;
  text-align: center;
}

.hero form {
  margin-top: 32px;
  padding: 4px;
  width: 100%;
  max-width: 360px;
  display: flex;
  align-items: center;
  gap: 6px;
  border-radius: var(--radius-3xl);
  border: 1px solid #e5e7eb3b;
  background-color: rgba(237, 237, 237, 0.188);
  backdrop-filter: blur(12px);
}

form input {
  background-color: transparent;
  padding: 0 8px;
  outline: none;
  border: none;
  color: var(--color-text-white);
  width: 100%;
}

form input::placeholder {
  color: var(--color-text-white);
}

.btn-submit {
  flex-shrink: 0;
  font-size: 15px;
  font-weight: 400;
  padding: 4.5px 12px;
}

.hero-image {
  overflow: hidden;
  border-radius: var(--radius-3xl);
  margin-top: 100px;
  background-size: cover;
  background-position: center;
}

.hero-image img {
  border-radius: var(--radius-3xl);
}

.logo-section {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 90px 0;
}

.logo-grid {
  display: grid;
  grid-template-columns: repeat(4, 250px);
}

.logo-grid img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  color: var(--color-text-black);
}

.logo-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
}

.features-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 200px 0;
}

.features-section p {
  text-align: center;
  padding-top: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-secondry);
  text-wrap: balance;
}

.features-section h1 {
  font-size: 40px;
  font-weight: 500;
}

.features-grid {
  margin-top: 50px;
  display: flex;
  gap: 24px;
  min-width: 500px;
}

.feature-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
  width: fit-content;
  border: 1px solid var(--color-border);
  border-radius: var(--radius-3xl);
  padding: 24px;
  margin-bottom: 24px;
}

.feature-item p,
h3,
h2 {
  text-align: start;
  text-wrap: balance;
  padding: 0;
}

.feature-title {
  font-weight: 500;
}

.label-green {
  font-family: "Geist Mono", monospace;
  font-weight: 500;
  font-size: 12px;
  color: var(--color-primary);
  text-transform: uppercase;
}

.feature-full {
  border: 1px solid var(--color-border);
  border-radius: var(--radius-3xl);
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-full .text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.feature-full .text-wrapper p {
  padding: 0;
}

.feature-full img {
  margin-top: 100px;
}

.enterprise-section {
  min-width: 500px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  background-color: #f7f7f7;
}

.enterprise-header {
  margin-top: 128px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 192px;
  padding-bottom: 48px;
}

.enterprise-text {
  display: flex;
  align-items: start;
  gap: 16px;
  flex-direction: column;
}

.enterprise-text h1 {
  font-size: 40px;
  text-wrap: balance;
}

.enterprise-text p {
  font-size: 16px;
}

.enterprise-svg {
  width: 32px;
}

.btn-explore {
  font-size: 16px;
  font-weight: 500;
  padding: 7px 24px;
  border-radius: var(--radius-3xl);
  border: 1px solid transparent;
  background-color: var(--color-text-black);
  color: var(--color-bg);
}

.enterprise-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 96px;
  margin-bottom: 50px;
}

.enterprise-item h2 {
  margin: 32px 0 16px;
}

.enterprise-item p {
  font-size: 16px;
  color: var(--color-text-muted);
}

.label-white {
  font-family: "Geist Mono", monospace;
  font-weight: 500;
  font-size: 12px;
  color: var(--color-text-white);
  text-transform: uppercase;
}

.enterprise-banner {
  background: url(/public/enterprise-bg.png) no-repeat;
  background-size: 105% auto;
  height: 520px;
  width: 1028px;
  border-radius: var(--radius-3xl);
  padding: 64px;
}

.enterprise-banner:hover {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(/public/enterprise-bg.png);
}

.enterprise-banner h2 {
  color: var(--color-text-white);
  padding: 20px 0 30px;
  font-weight: 500;
  line-height: 1.3;
  font-size: 24px;
}

.enterprise-banner p {
  color: var(--color-text-white);
  font-weight: 500;
  font-size: 15px;
}

.feature-banner-text {
  margin-top: 128px;
  display: flex;
  gap: 40px;
  font-size: 40px;
  font-weight: 400;
}

.feature-banner-text .card h1 {
  color: var(--color-bg);
  font-weight: 400;
  font-size: 40px;
}

.feature-banner-text .card p {
  color: #a8a8a8;
  font-weight: 500;
  font-size: 14px;
  margin-top: 6px;
  line-height: 1.5;
}

.enterprise-logos {
  display: flex;
  width: 1028px;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 200px;
  padding: 0 24px;
}

.enterprise-logo {
  filter: brightness(0) saturate(100%) invert(0.5);
}

.enterprise-logo:hover {
  filter: brightness(100%) saturate(100%);
}

.enterprise-logos img {
  display: flex;
  align-items: center;
  padding: 10px;
}

.stories-section {
  margin-bottom: 200px;
}

.case-study-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 50px;
}

.case-study-heading h1 {
  font-size: 40px;
}

.case-study-heading p {
  font-size: 16px;
  color: var(--color-text-muted);
  text-align: center;
}

.carousel {
  overflow: hidden;
}

.track {
  margin: 0 200px;
  display: flex;
  gap: 32px;
}

.carousel-card {
  max-width: 400px;
}

.image-container {
  background: no-repeat center / 120% auto;
  border-radius: var(--radius-2xl);
  width: 400px;
  height: 290px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-perplexity {
  background-image: url(/public/perplexity.png);
}

.bg-x {
  background-image: url(/public/x.png);
}

.bg-kalshi {
  background-image: url(/public/kalshi.png);
}

.bg-togetherai {
  background-image: url(/public/togetherai.png);
}

.image-container img {
  filter: brightness(0) saturate(100%) invert(1);
}

.carousel-card p {
  color: var(--color-text-muted);
}

.carousel-card button {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 3.2px;
  margin-top: 32px;
}

.carousel-card button span svg {
  width: 10px;
  rotate: -90deg;
}

.carousel-card button:hover {
  color: var(--color-primary);
  cursor: pointer;
}

.carousel-button {
  margin-top: 80px;
  text-align: center;
}

.carousel-button button {
  margin: 5px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.carousel-button img {
  width: 28px;
}

.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 200px;
}

.cta h1 {
  font-size: 40px;
  font-weight: 600;
}

.cta p {
  font-size: 16px;
  margin-top: 16px;
}

.cta-btn {
  margin-top: 40px;
}

.get-started-btn {
  font-size: 15px;
  font-weight: 500;
  padding: 9px 24px;
  border-radius: var(--radius-3xl);
  border: 1px solid #c6c6c6;
  background-color: var(--color-text-black);
  color: var(--color-bg);
}

.cta-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta-card img {
  border: 1px solid #c5c5c573;
  width: 56px;
  border-radius: 16px;
  padding: 10px;
}

.cta-card .cta-card-icon {
  border-radius: 20px;
  border: 1px solid #c5c5c5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: fit-content;
}

.cta-card .cta-card-icon svg {
  width: 36px;
  color: var(--color-primary);
}

.cta-card h2 {
  font-size: 20px;
}

.cta-card a {
  margin-top: 30px;
  text-decoration: none;
  color: var(--color-primary);
}

.cta-card a span svg {
  width: 10px;
  rotate: -90deg;
}

.cta-card-wrapper {
  display: flex;
  gap: 160px;
  margin-top: 100px;
}

footer {
  margin-bottom: 100px;
  width: full;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-head {
  min-width: 1028px;
  display: flex;
  justify-content: space-between;
  padding: 64px 32px 24px;
  border: 1px solid var(--color-footer-border);
}

.social-logo {
  color: #55555585;
  display: flex;
  gap: 16px;
}

.social-links {
  display: flex;
  gap: 60px;
  padding: 26px;
  border: 1px solid var(--color-footer-border);
  border-top: none;
  width: 1028px;
}

.social-links .links {
  margin: 20px;
}

.links-title {
  color: #969696 !important;
}

footer .social-links .links p {
  font-size: 13px;
  margin-top: 20px;
  font-weight: 500;
}

.f-btn:hover {
  cursor: pointer;
  color: #969696;
}

.end {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1028px;
  height: 100px;
  padding: 40px;
  gap: 20px;
  border: 1px solid var(--color-footer-border);
  border-top: none;
}

.footer-end {
  display: flex;
  gap: 3px;
  justify-content: start;
  align-items: center;
  width: 1028px;
  border: 1px solid var(--color-footer-border);
  border-top: none;
  padding: 30px 50px;
}

.footer-badge {
  display: flex;
  align-items: center;
  gap: 4px;
}

.footer-badge span {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-primary);
}

.footer-badge span svg {
  width: 20px;
}

.theme-toggle {
  background-color: #c1c1c161;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 50px;
  width: fit-content;
}

.theme-toggle button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: #989898;
  width: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme-toggle button:hover {
  color: var(--color-text-black);
}

.end p {
  color: var(--color-text-muted);
}